.breadcrumb{
  li{
    display: inline-block;
  }
  &> li + li::before {
    content: ">";
    padding: 0px 10px;
    color: #1b1b1b;
    a {
      color: #777777;
    }
  }
}
.news__news-list{
	float: left;
	width: 700px;
}
.news_page{
  float: left;
  .pagination{
    text-align: center;
    li {
      display: inline-block;
      font-family: "HelveticaNeueCyrBold";
      color: #ff6b00;
      a{
        color: #ff6b00;
      }
      &.active{
        a {
          color: #000;
        }
      }
    }
  }
}

