.serviceItem {
    display: block;
    height: 70px;
    margin: 20px;
    float: left;
    width: 220px;
}

.serviceIcon, .serviceLink {
    float: left;
}

.serviceLink {
    margin: 22px 0 0 15px;
    width: 140px;
}

.wrap {
    /*margin-left: 200px;*/
    /*float: left;*/
    /*width: 55%;*/
    /*padding: 20px;*/
    min-height: 400px;
}

.wrap-page {
    /*margin-left: 200px;*/
    float: left;
    width: 60%;
    min-height: 400px;
}

.h2-left {
    float: left;
    width: 100%;
}

.regHeaderLink {
    color: white;
}

.loginLinks {
    position: absolute;
    right: 30px;
    width: 160px;
    color: white;
}

.garage-create {
    width: 40%;
}

.addServiceBtn {
    margin: 20px;
}

.addContent {
    /*width: 90%!important;*/
}

.singleContent__desc h3 {
    display: block;
    width: 100%;
    float: left;
}

.header--region--box {
    line-height: 23px;
}
.cleared {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

#serviceInfo{
    background: url("../media/img/success.png") no-repeat;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.cl-column li{
    margin: 10px 0;
}

.cl-column li:first-letter{
    text-transform: uppercase;
}

.catPath {
    margin-top: 25px;
}

section.fleamarket__wrap_view {
    display: block;
    float: left;
    position: relative;
    width: 76%;
    padding: 0 15px;
}

.fleamarket__headProductTop {
    padding: 15px;
    margin-top: 5px;
}

.fleamarket__cat_city {
    display: block;
    float: left;
    width: 740px;
    font-family: HelveticaNeueCyrLight;
    font-size: 12.5px;
}

.fleamarket__views_product{
    font-family: HelveticaNeueCyrLight;
    font-size: 12.5px;
}

.fleamarket__views_product span{
    color:#20527b;
    text-decoration: underline;
}

.fleamarket__head h1{
    font-family: 'HelveticaNeueCyrBold';
    font-size: 21px;
    margin: 0;
    margin-bottom: 10px;
}

.fleamarket__created {
    display: block;
    float: left;
    margin-right: 20px;
}

.fleamarket__head span{
    background: url(../media/img/edit_close_product.png) no-repeat 0% 50%;
    padding-left: 35px;
}

.fleamarket__head span a{
    color: #ff6b00;
}

.price {
    height: 40px;
    border-bottom: 1px solid #cfcfcf;
    margin: 10px 0;
    font-size: 15px;
}

.price span{
    font-size: 15px;
    color: #fff;
    background: #ff6b00;
    padding: 5px;
    border-radius:5px;
    margin-left: 165px;
    font-family: "HelveticaNeueCyrBold";
}

.fleamarket__company{
    margin-bottom: 15px;
}

.fleamarket__company span{
    margin-left: 130px;
}

.fleamarket__contact_person span{
    margin-left: 80px;
}

span.fleamarket__user_tel {
    background: #e8e8e8 url(../media/img/tel.png) no-repeat 3% 50%;
    border:1px solid #90a6b8;
    border-radius: 12px;
    color: #0c4370;
    font-size: 13px;
    font-family: HelveticaNeueCyrLight;
    padding: 4px;
    padding-left: 18px;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}



span.fleamarket__user_mes{
    background: #e8e8e8 url(../media/img/message.png) no-repeat 3% 50%;
    border:1px solid #90a6b8;
    border-radius: 12px;
    color: #0c4370;
    font-size: 13px;
    font-family: HelveticaNeueCyrLight;
    padding: 4px;
    padding-left: 18px;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}

.fleamarket__user_contact {
    margin: 10px 0;
    display: block;
    margin-left: 205px;
}

span.info {
    display: none;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    font-size: 13px;
}

.fleamarket__city{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 15px;
}

.fleamarket__city span{
    margin-left: 160px;
}

.fleamarket__type_product {
    margin: 15px 0;
}

.fleamarket_product_description {
    margin: 15px 0;
}

.fleamarket__number_ads {
    color: #aaaaaa;
}

.fleamarket__slider {
    margin: 15px 0;
}

.fleamarket__footer{
    margin:15px 0;
    background: #e8e8e8;
    border:1px solid #90a6b8;
    padding:7px;
}
.fleamarket__footer a{
    font-size: 14px;
    color:#0c4370;
    text-decoration:underline;
}

a.write_seller{
    background: url(../media/img/write_seller.png) no-repeat 0% 50%;
    padding-left: 20px;
    margin: 0 10px;
}

a.favorites_products{
    background: url(../media/img/favorites_products.png) no-repeat 0% 50%;
    padding-left: 20px;
    margin: 0 10px;
}

a.complain_products{
    background: url(../media/img/complain_products.png) no-repeat 0% 50%;
    padding-left: 20px;
    margin: 0 10px;
}

a.share_products{
    background: url(../media/img/share_products.png) no-repeat 0% 50%;
    padding-left: 20px;
    margin: 0 10px;
}

.fleamarket__socseti {
    float: right;
    margin-right: 30px;
}

.fleamarket__similar_ads a{
    display: inline-block;
    margin-right: 40px;
}

.fleamarket__similar_ads_product_wr{
    width:141px;
}

.fleamarket__similar_ads_product_wr img{
    width: 141px;
}

span.fleamarket__similar_ads_product_name{
    font-family: 'HelveticaNeueCyrBold';
    display: block;
    color: #0c4370;
}

span.fleamarket__similar_ads_product_price{
    font-family: 'HelveticaNeueCyrLight';
    color: #282828;
    display: block;
    margin: 5px 0;
}

span.fleamarket__similar_ads_product_city{
    font-family: 'HelveticaNeueCyrLight';
    color: #282828;
    display: block;
    font-size: 12px;
}

.profileElement {
    margin: 10px 0 0 0;
    font-weight: bold;
}

.regionWidgetBox {
    width: 100%;
    float: left;
    display: block;
    margin: 10px 0 10px 0;
}

.requestItem {
    width: 100%;
    padding: 10px;
}

.addContent__adress {
    width: 90%;
}

.addContent__description {
    width: 95%;
}

.fleamarket__ads__item--desc {
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
    width: 70%;
}

.fleamarket__ads__item--desc p.fleamarket__ads__item--desc--specification {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 35px;
    vertical-align: bottom;
    overflow: hidden;
}

.messsage_view_header {
    margin-bottom: 5px;
}

.dateSend{
    float:right;
}

input.message_to,input.message_subject {
    float: none;
}

.selectFromGarage {
    width: 100%;
    float: left;
}

.header__container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1160px;
}

.filter__container-select--check {
    display: block;
    float: left;
    position: relative;
    margin-left: -28px;
    margin-right: -25px;
}

.filter__container-select--check input[type="checkbox"] + label{
    font-size: 16px;
    display: block;
    float: left;
    text-transform: inherit;
    margin: 0;
    width: 25%;
   /* margin: 5px auto;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-bottom: 25px;
}


.filter__container-select--check input[type="checkbox"] + label span, .filter__container-select--check input[type="checkbox"]:checked + label span
{margin: 0 auto;}
.filter__container-select--check input[type="checkbox"] + label span{
    display: block;
}

.news__block {
    display: block;
    float: left;
    width: 286px;
    margin: 0px 66px 25px 0px;
    overflow: hidden;
}
.contain .news__block:last-of-type{
    margin: 0px 0px 25px 0px;
}

.blockTitle-left{
    margin:25px 0;
}

.deals__line{
    margin: 0px -3%;
    margin-bottom: 25px;
}

.news{
    padding:0;
}

.header{
    position: fixed;
    z-index: 9999;
}

.news__block img{
    border-radius:0px;
}

.filtr_request_type {
    padding-bottom: 20px;
}

.myRequest {
    display: block;
    float: left;
}

.blockTitle-left {
    text-align: center;
    color: #000;
    font-family: "Calibri";
    font-size: 45px;
    font-weight: bold;
}