.serviceItem {
    display: block;
    height: 70px;
    margin: 20px;
    float: left;
    width: 220px;
}

.serviceIcon, .serviceLink {
    float: left;
}

.serviceLink {
    margin: 22px 0 0 15px;
    width: 140px;
}

.wrap {
    /*margin-left: 200px;*/
    /*float: left;*/
    /*width: 55%;*/
    /*padding: 20px;*/
    min-height: 400px;
}

.wrap-page {
    /*margin-left: 200px;*/
    float: left;
    width: 60%;
    min-height: 400px;
}

.h2-left {
    float: left;
    width: 100%;
}

.regHeaderLink {
    color: white;
}

.loginLinks {
    position: absolute;
    right: 30px;
    width: 160px;
    color: white;
}

.garage-create {
    width: 40%;
}

.addServiceBtn {
    margin: 20px;
}

.addContent {
    /*width: 90%!important;*/
}

.singleContent__desc h3 {
    display: block;
    width: 100%;
    float: left;
}

.header--region--box {
    line-height: 23px;
}
